#root ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#root li {
  display: inline;
  margin: 1rem;
}

#root label {
  margin: 0.4rem;
}

.formMessage {
  border: 2px solid black;
  max-width: max-content;
  padding: 1rem;
}
